
#head1{

	 color: #444444; margin-left:5%; margin-top: 5%; white-space: nowrap; width:90%; font-weight: 300; font-family: 'Black Han Sans'; font-size: 10rem; margin-bottom: 0; padding: 0;
}
#head2{
	 color: #314c79; margin-top: 0; margin-left:5%; white-space: overwrap; width:90%; font-family: 'Noto Sans KR'; font-size: 1.7rem;
}
.titlefont{
color: #444444; margin-top: 10rem; margin-left:5%; white-space: pre-line; width:90%;font-weight: 300; font-size: 6rem; font-family: 'Black Han Sans';
}

#result1{
	 color: #314c79; margin-top: 0; margin-left:10%;	 white-space:nowrap;	 width:80%; margin-bottom:2rem; font-family: 'Noto Sans KR'; font-size: 2rem;
}
#result2{
	color: #444444; width:60%; margin-left:20%; height:130%; margin-right:10%; line-height: 2.3rem; margin-top: 1rem; font-weight: 700; font-family: 'Noto Sans KR'; font-size: 1.5rem; text-align:center; 
}
#result3{
	color: #444444; width:100%; white-space:pre-line; margin-top: 2rem; font-weight: 700; font-size: 3rem; font-family: 'Noto Sans KR';
}

@media (max-width: 767px) {

#head1{

	 color: #444444; margin-left:5%; margin-top: 5%; white-space: nowrap; width:90%; font-weight: 300; font-family: 'Black Han Sans'; font-size: 7rem; margin-bottom: 0; padding: 0;
}
#head2{
	 color: #314c79; margin-top: 0; margin-left:5%; white-space: overwrap; width:90%; font-family: 'Noto Sans KR'; font-size: 1.4rem;
}
.titlefont{
color: #444444; margin-top: 10rem; margin-left:5%; white-space: nowrap; width:90%;font-weight: 300; font-size: 4rem; font-family: 'Black Han Sans';
}

#result1{
	 color: #314c79; margin-top: 0; margin-left:10%;	 white-space:nowrap width:80%; margin-bottom:2rem; font-family: 'Noto Sans KR'; font-size: 1.5rem;
}
#result2{
	color: #444444; width:90%; margin-left:10%; margin-right:10%; line-height: 2.3rem;  margin-top: 1rem; font-weight: 700; font-family: 'Noto Sans KR'; font-size: 1.2rem; text-align:center; 
}
#result3{
	color: #444444; width:100%; white-space:pre-line; margin-top: 2rem; font-weight: 700; font-size: 2.5rem; font-family: 'Noto Sans KR';
}

}


@media (max-width: 575px) {
	
#head1{

	 color: #444444; margin-left:5%; margin-top: 5%; white-space: nowrap; width:90%; font-weight: 300; font-family: 'Black Han Sans'; font-size: 4rem; margin-bottom: 0; padding: 0;
}
#head2{
	 color: #314c79; margin-top: 0; margin-left:5%; white-space: overwrap; width:90%; font-family: 'Noto Sans KR'; font-size: 1.1rem;
}
.titlefont{
color: #444444; margin-top: 10rem; margin-left:5%; white-space: nowrap; width:90%;font-weight: 300; font-size: 3rem; font-family: 'Black Han Sans';
}

#result1{
	 color: #314c79; margin-top: 0; margin-left:10%;	 white-space:nowrap width:80%; margin-bottom:2rem; font-family: 'Noto Sans KR'; font-size: 1.3rem;
}
#result2{
	color: #444444; width:90%; margin-left:10%; margin-right:10%;  line-height: 2.3rem; margin-top: 1rem; font-weight: 700; font-family: 'Noto Sans KR'; font-size: 1.2rem; text-align:center; 
}
#result3{
	color: #444444; width:100%; white-space:pre-line; margin-top: 2rem; font-weight: 700; font-size: 1.5rem; font-family: 'Noto Sans KR';
}


}

@media (max-width: 415px) {
	
#head1{

	 color: #444444; margin-left:5%; margin-top: 5%; white-space: nowrap; width:90%; font-weight: 300; font-family: 'Black Han Sans'; font-size: 4rem; margin-bottom: 0; padding: 0;
}
#head2{
	 color: #314c79; margin-top: 0; margin-left:5%; white-space: overwrap; width:90%; font-family: 'Noto Sans KR'; font-size: 0.7rem;
}
.titlefont{
color: #444444; margin-top: 10rem; margin-left:5%; white-space: nowrap; width:90%;font-weight: 300; font-size: 3rem; font-family: 'Black Han Sans';
}

#result1{
	 color: #314c79; margin-top: 0; margin-left:10%;	 white-space:nowrap; width:80%; margin-bottom:2rem; font-family: 'Noto Sans KR'; font-size: 0.8rem;
}
#result2{
	color: #444444; width:90%; margin-left:10%; margin-right:10%; margin-top: 1rem; font-weight: 700; font-family: 'Noto Sans KR'; font-size: 0.9rem; text-align:center; 
}
#result3{
	color: #444444; width:100%; white-space:pre-line; margin-top: 2rem; font-weight: 700; font-size: 1rem; font-family: 'Noto Sans KR';
}

}