
body {  font-family: 'Nanum Square','Noto Sans KR','Jua','Nanum Gothic', 'Open Sans', 'Black Han Sans','Do Hyeon',sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

strong { font-weight: 600; }
/*
a { color: #a365bc; border-bottom: 1px dashed #a365bc; text-decoration: none; transition: all .3s; }*/
a:hover, a:focus { color: black; text-decoration: none; }
a1 { color: #a365bc; border-bottom: 1px dashed #a365bc; text-decoration: none; transition: all .3s; }
a1:hover, a1:focus { color: #a365bc; border: 0; text-decoration: none; }
a2:hover{color:black;}
p{margin-top: 3px; margin-bottom: 3px;}
h1, h2 { margin: 0; font-size: 2rem; font-weight: 400;  line-height: 80px; text-align: center; width:100%; text-overflow: none; }
h3 { margin: 0; font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }
div{margin:0; margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	}


img { max-width: 100%;}

.medium-paragraph { font-size: 17px; line-height: 32px;  }

::-moz-selection { background: #8542a0; color: #fff; text-shadow: none; }
::selection { background: #8542a0; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 0px; }

.sec	tion-container-gray-bg { background: #f8f8f8; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 span { border-color: #fff; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.3; }

.section-bottom-button { padding-top: 60px; }


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }




/***** Top menu *****/

.navbar { width: 100%; background: #444444; backface-visibility: hidden;  padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto; }

.navbar.navbar-no-bg {  width: 100%; background: rgba(0, 0, 0, 0.8); height:5rem; width:100%; position: relative; padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto;

異쒖쿂: https://unikys.tistory.com/371 [All-round programmer]}
.navbar-nav ml-auto{width : 100%;}
.navbar-dark .navbar-nav { font-size: 15px; color: #fff; text-transform: uppercase; position: absolute; left:28%; padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto;}
.navbar-dark .navbar-nav .nav-link {  border: 0 !important; padding-right : 16rem; padding-left:16rem; font-style:'Noto Sans KR'; font-size:2rem; font-weight:100; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; } 

.navbar-expand-md .navbar-nav .nav-link { padding-right: 1rem !important; padding-left: 1rem !important;  white-space: nowrap; width:100%; overflow:hidden;}

.navbar-brand {
	
	width: 88px;
	height:63px;
	background: url(../img/logo.png) left center no-repeat;x
	border: 0;
	padding-right:0;
	padding-left:0;
	text-indent: -999999999px;
	position: absolute; left:15%;
}


/* top content*/

.top-content {
  width: 100%;  
  min-height: 100vh;

  
 
}




container-fluid{
	
	padding-right: 0px !important; padding-left: 0px !important;

}

a { color: #a365bc; text-decoration: none; transition: all .3s; }
h4{
	font-size:2.7rem;font-weight:300; display:block;
}
h5{
	font-size:2.7rem;font-weight:800; display:block;
}

h6{
	font-size:1.5rem;font-weight:400; display:block;
}


.top-content .carousel-caption { width:80%; position: absolute; top: 50%; left: 50%; transform : translate(-50%,-50%); }

.top-content { width: 100%; position: relative; margin-top:0;}

.top-content .carousel-indicators li { width: 1.2rem; height: 1.2rem; margin-left: 0.6rem; margin-right: 0.6rem; border-radius: 50%; }



/*------ diag----*/
section1{width: 100%; position: relative; margin-top:0;}
.section1 .button{ width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform : translate(-50%,-50%);}

/*濡쒓렇�씤�뤌�뿉�꽌 �궗�슜�빀�땲�떎.*/
input { 
   width: 100%; 
   margin-bottom: 10px; 
   background-color: #e3e1e3;
   border: none;
   outline: none;
   padding: 10px;
   font-size: 13px;
   color: #fff;
   border: 1px solid rgba(0,0,0,0.6);
   border-radius: 0.6rem;
   -webkit-transition: box-shadow .5s ease;
   -moz-transition: box-shadow .5s ease;
   -o-transition: box-shadow .5s ease;
   -ms-transition: box-shadow .5s ease;
   transition: box-shadow .5s ease;
}

.ourstyle{
	width:50%; background-color:rgba(255,255,255,0.95); border-radius: 1rem; padding:0;
}
.ourfont{
	font-family: 'Nanum Square', 'Noto Sans KR'; color:white; font-weight:700; white-space: nowrap; text-overflow: ellipsis;
	margin:0; padding:0; z-index:999999; 
	
}

.ourbutton{
	font-weight:700; color:white; background-color:#FFCAC4; 
}
.ourbutton2{
	font-weight:700; color:white; background-color:#85C0FF; 
}
.ourbutton3{
	color:white; background-color:#444444; width:100%; white-space:pre-line;
}

.ourbutton:hover{
	background-color:#FFCA84; 
}
.ourbutton2:hover{
	background-color:#85A5FF;
}
.ourbutton3:hover{
	opacity:0.9;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }




.hovertext{
	
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;

}

.imgcontainer {
  position: relative;
  width: 100%;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.backimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imgcontainer:hover .backimage {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}





.poptext {
  background-color: #444444;
  color: white;
  font-size: 1.7rem;
  border: 1px solid white;
  margin:0;
  padding:0;
}









